body {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    color: #fff;
    background: #000;
    position: fixed;
    box-shadow: 1px 1px 5px #808080;
}

.mobile-navbar {
    padding: 1px 20px;
}

.mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: none;
}

.logo img {
    width: 30px;
}

.languages a {
    font-size: 75%;
    color: #fff;
    text-decoration: none;
}

.languages a:hover {
    color: #fff;
}

.name {
    font-size: 110%;
    color: #45aff0;
    padding-left: 20px;
    text-shadow: 1px 1px 10px #fff;
    letter-spacing: 0.5px;
}

.logo-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.images img {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 10px;
}

#titles {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
}

.first {
    color: #938d93;
    font-size: 200%;
    text-align: center;
    margin-bottom: 5%;
}

.second {
    color: #000;
    font-size: 170%;
    text-align: center;
    margin-bottom: 5%;
}

.third {
    color: #208bcb;
    font-size: 200%;
    text-align: center;
}

.content-title {
    background-color: #938d93;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 7px;
    font-size: 150%;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px #808080;
}

#products {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
}

.product {
    width: 90%;
    border: 1px solid #938d93;
    box-shadow: 1px 1px 5px #808080;
    background-color: #fff;
    margin-bottom: 20px;
    line-height: 110%;
}

.product img {
    width: 95%;
    padding: 10px;
}

.product p {
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

.product:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.details {
    text-align: center;
    color: #45aff0;
    width: 100%;
}

.contacts {
    width: 100%;
}

#contact {
    color: #4e4e4e;
    text-align: center;
    font-weight: 100;
    font-size: 10px;
    letter-spacing: 1px;
    margin: 0 auto;
}

.social-media img {
    margin: 0 auto;
    width: 20px;
}

footer {
    width: 100%;
    padding: 6px 40px 6px 40px;
    background: #d6d6d6;
    font-family: "Lucida Sans Unicode";
    color: #444444;
    font-size: 11px;
    text-decoration: right;
    text-align: center;
    margin: 0 auto;
}

footer a {
    text-decoration: none;
    color: #262626;
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .product {
        flex: 0 0 70%;
        margin: 1%;
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: 250px;
        margin-left: 50px;
        list-style-type: none;
        font-size: 14px;
    }

    ul a {
        list-style-type: none;
        color: #eaeaea;
        text-decoration: none;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    ul {
        display: flex;
        justify-content: space-between;
        width: 300px;
        margin-left: 100px;
        list-style-type: none;
        font-size: 14px;
    }

    ul a {
        list-style-type: none;
        color: #eaeaea;
        text-decoration: none;
    }

    .images {
        flex: 0 0 60%;
    }

    #titles {
        flex: 0 0 35%;
        margin-left: 3%;
        padding: 0;
    }

    .first {
        font-size: 55px;
    }
    .second {
        font-size: 45px;
    }
    .third {
        font-size: 50px;
    }
    
    .product {
        flex: 0 0 31%;
        margin: 1%;
    }
    .details {
        font-size: 30px;
    }
}